.game {
  position: relative;
}

.control__button {
  border: none;
  background: #CCC;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}