.icon-button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0;
}